Repository kavkaco/Kavka-Core, pull requests merged in 2023-11, with the labels that each got.

#39 fix: migrate to alpine linux
  docker-compose.yml
Labels: Docker

#46 chore(CI/CD): adding CODEOWNERS file for auto review request
  .github/CODEOWNERS
Labels: enhancement, CI/CD

#44 test: services and repositories unit test
  go.sum
  internal/domain/chat/chat_entity.go
  internal/domain/message/message_entity.go
  internal/repository/chat/chat_repository.go
  internal/repository/chat/chat_repository_mock.go
  internal/repository/chat/chat_repository_test.go
  internal/repository/message/message_repository.go
  internal/repository/message/message_repository_mock.go
  internal/repository/message/message_repository_test.go
  internal/repository/user/user_repository_mock.go
  utils/structs/set_value_by_tag.go
  utils/structs/set_value_by_tag_test.go
Labels: bug, test
